/* #root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  } */
  
 
/*   
  .card {
    padding: 2em;
  }
  
  .read-the-docs {
    color: #888;
  }
  
  .app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  } */
  
  .content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  .bottom-nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
  }
  